.table caption {
  color: black;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: smaller;
}

.caption {
  color: black;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: smaller;
}